/* RESET */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* COMMON STYLE */

.business-plan, 
.container-jumboBox,
.footer-box,
#partner-dropbox,
#info-operation,
.title {
    margin: 0 auto;
    max-width: 60%;
    max-height: auto;
    margin-top: 50px;
  }
  

P {
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

* ul li  {
    list-style: none;
    font-size: 12px;
}

* a {
    text-decoration: none;
    padding: 10px 10px;
    color: black;
}

* button {
    background-color: #0061ff;
    font-size: 12px;
    color: white;
    border: none;
    padding: 8px 8px;
}

.info-box, .small-box   h4 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.left-group img {
   filter: invert();
   width: 100px ;
}

.right-group img {
    width: 100px ;
    filter: invert();
}

 .column hr {
    width: 50px;
    margin-left: 30px;
    margin-top: 20px;
}

/* ALL HOVER STYLE */

* button:hover {
    cursor: pointer;
}

.nav-bar, .container-faq {
    position: relative;
}

.menu-content {
    display: none;
    background-color: lightgray;
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.menu-bar li {
    list-style: none;
    font-size: 13px;
    padding: 15px 5px;
}

.menu-bar .bold {
    font-weight: bold;
    font-size: 20px;
}

.menu-bar:hover  .menu-content {
    display: block;
}

.menu-bar li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #f9f9f9;
    width: 660px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }