/* STYLE SECTION conteiner-nav-bar */

 header nav {
    background-color: white;
    max-width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.logo img {
   max-width: 80px;
   padding: 5px 5px;
}

.nav-bar li {
    display: inline-block;
    margin-left: 15px;
 }
 
.nav-bar.left {
    margin-right: 500px;
}

/* STYLE SECTION container-infoDropBox*/

#container-infoDropBox {
    max-width: 100%;
    max-height: 500px;
    background-color: #b4d0e7;
    padding: 50px;
}

.title h1 {
    font-size: 50px;
}

.container-jumboBox {
    max-width: 100%;
    max-width: auto;
    display: flex;
    justify-content:center;
}

.start-freeTrial {
   margin: 15px 0px;
}

.box-img img {
    object-fit: contain;
    max-width: 100%;
    max-height: 300px;
}

.paragraph {
    max-width: 300px;
    max-height: 100px;
}

.fa-arrow-down {
    font-size: 30px;
}

.icon-arrow {
    padding: 10px;
}

/* STYLE SECTION BUSINESS PLAN */

.container-span span {
    font-size: 12px;
}

.container-span {
    margin: 0px 0px 30px 5px;
}

.fa-circle-dot, .fa-circle {
    color: #0061ff;
}

.business-plan h3 {
   font-size: 25px;
   padding: 10px 0px;
}

/* STYLE COLUMN  */

.column-box {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

.column {
   max-width: calc(90% / 3);
   border: 1px solid black;
}

.container-infoColumn  {
    margin: 10px 0px 30px 5px;
}

.container-infoColumn h4, h6 {
    margin-left: 10px;
}

.column  span, h6, i {
    font-size: 12px;
}

.smallBox-footerColumn h6 {
    padding: 10px;
    font-size: 15px;
}

.smallBox-intoColumn, .smallBox-footerColumn  {
    margin: 10px 0px 10px 15px;
    line-height: 15px;
}

.button-intoColumn, .smallBox-linkColumn {
    margin-left: 40px;
    padding: 10px 0px;
}

.smallBox-linkColumn p, a {
    font-size: 15px;
}

.smallBox-linkColumn a {
    color: #0061ff;
}

.head {
    padding: 3px 5px;
    text-align: center;
    margin-top: 0px;
    border: 1px solid black;
}

.smallBox-footerColumn h6 {
    font-size: 12px;
    padding: 20px;
}

.smallBox-footerColumn span {
    line-height: 30px;
    text-indent: -12px;
    
}

.fa-check {
    color: #0061ff;
    font-size: 12px;
 }

#container-footer-box {
  margin: 0 auto;
}

.footer-box button {
  margin-left: 600px;
}

.footer-box {
    border: 1px solid black;
}

.footer-box h5 {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

.footer-box p {
    line-height: 15px;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 60%;
}

/* STYLE PARTNERS SECTION */

#partner-dropbox .partner-img img {
  width: 400px;
  height: 340px;
}

#partner-dropbox h4 {
     margin-left: 10px;
     margin-bottom: 20px;
}

.white-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    margin: 20px 0px 0px 10px;
    padding: 8px 15px;
}

#partner-dropbox {
    display: flex;
}

/* STYLE INFO-OPERATION SECTION */

.container-small-box {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 150px;
}

.small-box  {
    width: calc(90% / 3);
    margin: 5px;
}

.small-box img {
    object-fit: cover;
    width: 100%;
}

.container-linkPartners {
  width: 50%;
  margin-left: 10px;
}

#link-partners {
    margin-top: 50px;
}

#link-partners a {
    text-decoration: underline;
    color: #0061ff;
}


/* STYLE SECTION LOGO PARTNER DROPBOX */

#logo-partnersDropbox {
    margin-top: 150px;
}

.container-logos {
     max-width: 100%;
     height: 200px;
     margin-top: 30px;
     display: flex;
}

.container-boxLogos {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logos {
    width: calc(100% / 2);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-boxLogos .green {
    background-color: #a2d39b;
}

.container-boxLogos .brown {
    background-color:#61082b;
}

.container-boxLogos .evenly {
    background-color:#0093ce;
}

.container-boxLogos .red {
    background-color:red;
}

.container-boxLogos .red {
    background-color:red;
}

.container-boxLogos .lightevenly {
    background-color:#b4d0e7;
}

.container-boxLogos .blue {
    background-color:blue;
}

.container-boxLogos .yellow {
    background-color:#ffd830;
}

.center-logo img {
    width: 250px;
    margin-left: 30px;
    margin-top: 20px;
}

.center-logo p, cite {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 40px;
    line-height: 20px;
     padding: 10px 15px;
}

/* STYLE SECTION UNDER LOGOS */

.container-underLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 200px;
    background-color: #b4d0e7;
    padding: 20px;
    margin-top: 200px;
}

.container-underLogos h3 {
    color:#61082b ;
    width: 70%;
}

/* STYLE SECTION FAQ */

.container-faq {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    padding: 10px;
    margin-top: 10px;
    
}

#FAQ h3 {
    text-align: start;
    line-height: 80px;
    display: inline-block;
}

#FAQ li {
    text-align: start;
    line-height: 80px;
    display: inline-block;
}

.arrow-icon {
    margin-left: 160px;
}

.arrow-icon:hover {
    cursor: pointer;
}


/* STYLE SECTION FOOTER */

#navbar-footer {
    width: 80%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 40px;
    padding: 10px;
    margin-top: 40px;
    background-color: black;
    color: white;
}

#navbar-footer li {
    line-height: 20px;
    font-size: 12px;
}

#navbar-footer ul {
    width: 200px;
}

.box-navbarFooter {
    margin-bottom: 130px;
}

footer {
    background-color: black;
    border-bottom: 1px solid white; 
}

.white {
   color: white;
   padding: 100px;
   width:50px ;
   border-right: black;
   border-left: black;
   margin-left: 150px;
   border-bottom: black;
}





